body{
    margin: 40px;
    background-color: #014d2c; 
}
.box{
    background-color: #97f99a;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.footer{
    color: black;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #014d2c;;
    grid-gap: 15px;
    color: #444;
    align-content: start;
}

.header{
    grid-column:  1/6;
    
}

.article{
    grid-column: 1/5;
    justify-content: center;
}
.article2{
    grid-column: 1/6;
}

.aside{
    grid-column: 5/6;
    grid-row: 2/3;
}

.footer{
    grid-column:  1/6;
}

h1{
    color: rgb(0, 0, 0);
    
}
.Titulo{
    text-align: center;
}

ul, ol, th, tr, p{
    color: #014d2c;
}

textarea{
    width: 1222px;
    height: 122px;
}
 
#Nombre, #email, #texto{
    background-color: #c3f8c5;
}


